<h3>FieldAgents</h3>
<partial name="_TablePartial" model="ViewBag.FieldAgents" />
<hr />

<h3>GroupLeaders</h3>
<partial name="_TablePartial" model="ViewBag.GroupLeaders" />
<hr />

<h3>Managers</h3>
<partial name="_TablePartial" model="ViewBag.Managers" />
<hr />

<partial name="_ModalPartial" model="ViewBag.CreateAgentModal" />
