@{
    ViewData["Title"] = "Operation details";
}

<h1>Operation details</h1>
<hr />

<h3>Agents in operation</h3>

<partial name="_TablePartial" model="ViewBag.AgentsInOperation" />

<label>Add agent to incident</label>
<br />
<partial name="_ModalPartial" model="ViewBag.AddAgentModal" />