@{
    ViewData["Title"] = "Filtered operations";
}

<h1>Operations</h1>
<hr />

<h5>Filter by date:</h5>
<form action="@Url.Action("FilterOperations")" method="get" class="mt-1 d-inline-flex">
    <div class="me-3">
        <label for="startDateInput">Start Date:</label>
        <br />
        <input id="startDateInput" type="date" name="StartDate" class="form-control d-inline-block" style="vertical-align: middle; width: auto;" />
    </div>
    <div>
        <label for="endDateInput">End Date:</label>
        <br />
        <input id="endDateInput" type="date" name="EndDate" class="form-control d-inline-block" style="vertical-align: middle; width: auto;" />
        <button type="submit" class="btn btn-primary ml-2">Filter</button>
    </div>
</form>
<hr />

<partial name="_TablePartial" model="ViewBag.FilteredOperations" />
