
@{
    ViewData["Title"] = "index";
}

<form action="@Url.Action("index")" method="get" class="mt-1">
    <label>Search for Operation:</label>
    <br />
    <input type="text" name="OperationName" placeholder="Search" class="form-control d-inline-block" style="vertical-align: middle; width: auto;" />
    <button type="submit" class="btn btn-primary ml-2">Search</button>
</form>
<hr />

<h3>Operations</h3>
<partial name="_TablePartial" model="ViewBag.Table" />
<hr />

<label>Create Operation:</label>
<br />
<partial name="_ModalPartial" model="ViewBag.Modal" />
