@using MVC_databaskonstruktion.Utils
@model TableObject

@{
    var dataTable = Model.DataSet;
}

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            @foreach (System.Data.DataColumn column in dataTable.Columns)
            {
                <th scope="col">
                    @column.ColumnName
                </th>
            }
            @if (!string.IsNullOrEmpty(Model.DeleteTable) && Model.PrimaryKeys?.Count > 0)
            {
                <th scope="col">
                    Delete
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in dataTable.Rows)
        {
            <tr>
                @for (int col = 0; col < dataTable.Columns.Count; col++)
                {
                    <td>
                        @row[col]
                    </td>
                }
                
                @if (!string.IsNullOrEmpty(Model.DeleteTable) && Model.PrimaryKeys?.Count > 0)
                {
                    <td>
                    @{
                        var deleteParams = new RouteValueDictionary();
                        deleteParams["Table"] = Model.DeleteTable;
                        foreach (var key in Model.PrimaryKeys)
                        {
                            deleteParams[key] = row[key];
                        }
                    }
                    @Html.ActionLink("Delete", "Delete", Model.ControllerName, deleteParams, new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>