
@{
    ViewData["Title"] = "Incident details";
}

<h1>Incident details</h1>
<hr />

<h3>Operations in Incident</h3>
<partial name="_TablePartial" model="ViewBag.Operations" />
<hr />

<h3>Reports for Incident</h3>
<partial name="_TablePartial" model="ViewBag.Reports" />
<hr />

<label>Add operation to incident</label>
<br />
<partial name="_ModalPartial" model="ViewBag.AddOperationModal" />
<hr />

<label>Write new report</label>
<br />
<partial name="_ModalPartial" model="ViewBag.AddReportModal" />