@{
    ViewData["Title"] = "Incidents";
}

<h1>Incidents</h1>
<hr />

<form action="@Url.Action("index")" method="get" class="mt-1">
    <label>Search for Incident:</label>
    <br />
    <input type="text" name="IncidentName" placeholder="Search" class="form-control d-inline-block" style="vertical-align: middle; width: auto;" />
    <button type="submit" class="btn btn-primary ml-2">Search</button>
</form>
<hr />

<h3>Incidents</h3>
<partial name="_TablePartial" model="ViewBag.Table" />
<hr />

<label>Create Incident:</label>
<br />
<partial name="_ModalPartial" model="ViewBag.Modal" />